html
{
    background-image: url('Imagens/background.jpg');
    background-attachment: fixed; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);  /* Cor preta com opacidade */
    background-blend-mode: overlay; /* Faz a imagem de fundo misturar com a cor */
    scroll-behavior: smooth;
}
body {
    background-color: transparent;
    box-sizing: border-box;
    overflow-y: auto; /* Permite a rolagem se necessário */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;    
    width: 100vw;
    scroll-behavior: smooth; /* Adiciona rolagem suave */
}
#header 
{
    background-color: #000000;
    position: fixed;
    width: 100%; /* Ajusta a largura do cabeçalho para 100% da largura da viewport */
    height: 8%; /* Mantém a altura do cabeçalho como uma porcentagem da altura da viewport */
    min-height: 40px;
    top: 0;
    z-index: 100; /* Garante que o cabeçalho fique sobre outros conteúdos */
    padding: 0;
    margin: 0;
}
#header nav 
{
   top: 2.5%;
   font-size: larger;
}
#desktop-menu 
{
    position: fixed;
    top: 0;
    right: 2vw; /* Ajusta a posição do menu com base na largura da viewport */
    background-color: #000000;
    color: white;
 /* Ajusta o padding com base na altura e largura da viewport */
    display: flex;
    align-items: center;
}

#desktop-menu ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}
#desktop-menu ul :hover
{
    background-color: #242424;
}
#desktop-menu ul li 
{
    margin: 0 1vw; /* Ajusta a margem com base na largura da viewport */
}
#desktop-menu ul li a 
{
    color: white;
    text-decoration: none;
    padding: 1vh 2vw; /* Ajusta o padding com base na altura e largura da viewport */
}
#menu-burguer 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%; /* Ajusta a largura do menu de hambúrguer para 50% da largura da viewport */
    height: 100%; /* Ajusta a altura do menu para 100% da altura da viewport */
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 1000;  
}
#menu-burguer nav ul 
{
    top:2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-burguer nav ul li
{
    margin: 2vh 0; /* Ajusta a margem com base na altura da viewport */
    transition: background-color 0.3s;
}
#menu-burguer nav ul li:hover 
{
    background-color: #181818;
}
#menu-burguer nav ul li a
{
    color: white;
    text-decoration: none;
    padding: 2vh 2vw; /* Ajusta o padding com base na altura e largura da viewport */
}
.logo 
{
    height: 8vh;
    min-height: 40px;
    width: auto;
    min-width: 120px;
    position: fixed;
    z-index: 11;
    justify-content: left;
    text-align: left;
}

#menu-burguer 
{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}
#menu-burguer nav ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#menu-burguer nav ul li
{
    margin: 20px 0;
    transition: background-color 0.3s;
}
#menu-burguer nav ul li :hover
{
    background-color: #181818;
}
#menu-burguer nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.open-btn 
{

    display: none;
    position: fixed;
    top: 10px;
    right: 2vw;
    font-size: 150%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
h2,h3,h4 
{
    font-weight: normal;
}

h3 
{
    

    text-align: justify;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}


.Titulo {
    margin-top: 20vh;                /* Espaço superior (20% da altura da tela) */
    margin-bottom: 10vh;             /* Espaço inferior (10% da altura da tela) */
    border-bottom: #fffb00 solid 5px; /* Linha de borda inferior */
    width: 50vw;                     /* Largura do título (50% da largura da tela) */
    text-align: center;              /* Alinha o texto ao centro */
    display: flex;                   /* Usa flexbox para controle de layout */
    justify-content: center;         /* Centraliza o conteúdo na horizontal */
    align-items: center;             /* Centraliza o conteúdo na vertical */
            
    transform: translateX(50%); /* Ajusta para que o centro real do elemento seja o ponto central */
}
.download {
    background-color: #ebe700;
    position: relative;
    left: 45%;
    text-decoration: none;
    border: 2px solid #000; /* Adiciona uma borda preta de 2px */
    padding: 5px 10px; /* Ajusta o espaçamento interno para deixar o link mais "encorpado" */
    border-radius: 5px; /* Borda arredondada (opcional) */
    transition: width 0.3s ease; /* Adiciona transição na largura */
    width: 120px; /* Largura inicial */
    display: inline-block; /* Para garantir que o elemento tenha uma largura definida */
    text-align: center;
    height: auto;
}
.download {
    background-color: #ebe700;
    position: absolute; /* Vamos usar posição absoluta para mover o botão livremente */
    text-decoration: none;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.download:hover {
    width: 15vw; /* A largura aumenta ao passar o mouse */
    left: 40%;
}

.Contatos {
    top: 50vh;
    display: flex; /* Usa flexbox para o alinhamento do conteúdo */
    flex-direction: column; /* Alinha os itens em coluna (verticalmente) */
    justify-content: center; /* Centraliza verticalmente o conteúdo dentro do container */
    align-items: center; /* Centraliza horizontalmente o conteúdo dentro do container */
    position: relative; /* Fixa o elemento no viewport */
    bottom: 0; /* Posiciona o elemento na parte inferior da página */
    left: 50%; /* Move o elemento para o meio horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição horizontal para centralizar exata */
    width: 100%; /* Largura total da viewport */
    height: 95vh; /* Altura ajustada */
    background-color: rgb(2, 2, 2); /* Cor de fundo */
    color: aliceblue; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    z-index: 11; /* Garante que o conteúdo fique sobre outros conteúdos */
    padding: 0;
    margin: 0;
    font-size: small;
}

.Contatos h1 {
    margin: 0; /* Remove a margem do título */
}

.Contatos ul {
    margin: 5vh 0 0 0; /* Margem superior */
    padding: 0; /* Remove o padding */
    height: 5vh; /* Altura ajustada */
    width: 100%; /* Largura total do container */
    display: flex; /* Usa flexbox para alinhamento dos itens da lista */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
}

.Contatos ul a {
    transition: background-color 0.3s; /* Corrige a propriedade de transição e define uma duração mais curta */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Espaçamento interno */
    color: #ffffff; /* Cor do texto dos links */
    margin: 0 10px; /* Margem lateral */
}

.Contatos ul a:hover {
    background-color: rgb(59, 59, 59); /* Cor de fundo ao passar o mouse */
}


.Contatos ul a:hover {
    background-color: rgb(59, 59, 59); /* Cor de fundo ao passar o mouse */
}
@media  (max-width: 1400px) {

    .Titulo
    {
        width: 80vw;
        text-align: center;              /* Alinha o texto ao centro */
        display: flex;                   /* Usa flexbox para controle de layout */
        justify-content: center;         /* Centraliza o conteúdo na horizontal */
        align-items: center;             /* Centraliza o conteúdo na vertical */     
        transform: translateX(10%); /* Ajusta para que o centro real do elemento seja o ponto central */
    }
    #desktop-menu {
        display: none;
    }
    #desktop-menu 
    {
        display: none;
    }
    .open-btn
    {
        top: 0.5%;
        display: block;
    }
    #menu-burguer.show 
    {
        transform: translateX(0);

    }
    #desktop-menu 
    {
        display: none;
    }
    #header
    {
        height: 5vh;
    }
    .logo
    {
        height: 5vh;
    }
    .download
{
    position: relative;
    width: 35vw;
    left: 25%;
}
.download:hover
{
    position: relative;
    width: 35vw;
    left: 25%; 
}
@media  (max-width: 1100px) 
{
    .Contatos ul a 
    {
        display: none;
    }
    #curriculum-header
    {
        display: none;
    }
    .Contatos ul h2 
    {
        text-align: justify;
        display: flex;
        justify-content: space-between; /* Alinha o texto nas pontas */
        padding: 10%; /* Espaçamento interno */
    }
    .Contatos ul h4
    {
        font-size: medium;
        width: 80vw;
        text-align: justify;
    }
}
}