html{
    background-image: url('Design\ sem\ nome\ \(2\).png');
    background-attachment: fixed; 
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);  /* Cor preta com opacidade */
    background-blend-mode: overlay; /* Faz a imagem de fundo misturar com a cor */
    scroll-behavior: smooth;

}

#accessibility-btn {
    position: fixed;
    top: 200px;
    left: 1%;
    background-color: #008CBA;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Estilo de hover e foco para o botão de acessibilidade */
#accessibility-btn:hover {
    background-color: #005f73;
}

#accessibility-btn:focus {
    outline: none;
}

/* O div com os controles de texto começa invisível */
#text-size-controls {
    display: flex;
    gap: 10px;
    position: absolute;
    top: -40px; /* Posiciona os controles acima do botão */
    left: 0;
    width: 100%;
    justify-content: center;
    visibility: hidden; /* Inicialmente invisível */
    opacity: 0;
    display: flex; /* Usar flexbox para alinhar os botões */
    align-items: center; /* Centralizar os botões horizontalmente */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    flex-direction: column;
}

/* Exibe os controles quando o botão de acessibilidade é ativo */
#accessibility-btn.active #text-size-controls {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

/* Estilo dos botões de aumentar e diminuir */
#text-size-controls button {
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#text-size-controls button:hover {
    background-color: #005f73;
}

#text-size-controls button:focus {
    outline: none;
}
#increase-font, #decrease-font {
    top: 20px;
    display: block; /* Faz com que os botões fiquem em blocos separados */
    width: auto; /* Largura ajustável para acomodar o texto completo */
    max-width: 300px; /* Limita a largura dos botões */
    padding: 10px 20px; /* Adiciona espaço interno para o texto */
    background-color: #007BFF; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    text-align: center; /* Alinha o texto no centro */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Deixa o texto em negrito */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Aparece como uma mãozinha ao passar o mouse */
    margin: -1px -2px; /* Espaçamento entre os botões */
    transition: all 0.3s ease; /* Animação suave para efeitos de hover */
    white-space: nowrap; /* Impede o texto de quebrar em várias linhas */
    left: 100%;
    position: relative;
    left: 60px;
    width: 20px;
    height: 20px;
     
}
.LuaSol {
    position: fixed;
    top: 275px;
    left: 80px;
    background-color: #007BFF; /* Cor de fundo azul */
    color: white;
    font-size: 18px;
    padding: 9px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 40px;
}

.LuaSol .icon {
    margin: 0 5px;
}

.LuaSol .sun {
    display: none;
}

.LuaSol .moon {
    display: block;
}


/* Outros exemplos de aplicação */
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;  
 }
 h1
 {
   margin-top: 10vh;
 }
 .sobre
 {
    text-align: center;
 }
p {
    font-family: 'Open Sans', sans-serif;   
}

body {
    box-sizing: border-box;
    overflow-y: auto; /* Permite a rolagem se necessário */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;  
    background: transparent;
    color: white;
    scroll-behavior: smooth;
}
.EM {
    top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 4px solid #fffb00; /* Linha sublinhada com 2px de espessura e cor preta */
    font-weight: bold;
    background-color: transparent;
}
iframe
{
    position: relative;
    margin-bottom: 10%;
}
h1 {
    font-weight: 400; 
}
h2{
    font-weight: 400; 
}
h3 {
    font-weight: 400; 
}
h4 {
    font-weight: 400; 
}
/* Estilo do cabeçalho */
#header {
    background-color: #000000;
    position: fixed;
    width: 100%; /* Ajusta a largura do cabeçalho para 100% da largura da viewport */
    height: 8%; /* Mantém a altura do cabeçalho como uma porcentagem da altura da viewport */
    min-height: 40px;
    top: 0;
    z-index: 100; /* Garante que o cabeçalho fique sobre outros conteúdos */
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;   

}
#header nav
{
    top: 2.5%;
    font-size: medium;
}
/* Menu de desktop */
#desktop-menu {
    position: fixed;
    top: 0;
    right: 2vw; /* Ajusta a posição do menu com base na largura da viewport */
    background-color: #000000;
    color: white;
 /* Ajusta o padding com base na altura e largura da viewport */
    display: flex;
    align-items: center;
}

#desktop-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}
#desktop-menu ul :hover{
    background-color: #242424;
}


#desktop-menu ul li {

    margin: 0 1vw; /* Ajusta a margem com base na largura da viewport */
}

#desktop-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vw; /* Ajusta o padding com base na altura e largura da viewport */
    
}

/* Menu de hambúrguer */


/* Menu de desktop */
#desktop-menu {
    position: fixed;
    top: 0;
    right: 2vw; /* Ajusta a posição do menu com base na largura da viewport */
    background-color: #000000;
    color: white;
 /* Ajusta o padding com base na altura e largura da viewport */
    display: flex;
    align-items: center;
}

#desktop-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}
#desktop-menu ul :hover{
    background-color: #242424;
}


#desktop-menu ul li {

    margin: 0 1vw; /* Ajusta a margem com base na largura da viewport */
}

#desktop-menu ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 2vw; /* Ajusta o padding com base na altura e largura da viewport */
    
}
/* Menu de hambúrguer */
#menu-burguer {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%; /* Ajusta a largura do menu de hambúrguer para 50% da largura da viewport */
    height: 100%; /* Ajusta a altura do menu para 100% da altura da viewport */
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 1000;
    
}

#menu-burguer nav ul {
    top:2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#menu-burguer nav ul li {
    margin: 2vh 0; /* Ajusta a margem com base na altura da viewport */
    transition: background-color 0.3s;
}

#menu-burguer nav ul li:hover {
    background-color: #181818;
}

#menu-burguer nav ul li a {
    color: white;
    text-decoration: none;
    padding: 2vh 2vw; /* Ajusta o padding com base na altura e largura da viewport */
}


#menu-burguer {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}
#menu-burguer nav ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
#menu-burguer nav ul li 
{
    margin: 20px 0;
    transition: background-color 0.3s;
}
#menu-burguer nav ul li :hover
{
    background-color: #181818;
}
#menu-burguer nav ul li a 
{
    color: white;
    text-decoration: none;
    padding: 15px;
}
/* Botões de abrir e fechar menu */
.close-btn 
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.open-btn 
{

    display: none;
    position: fixed;
    top: 10px;
    right: 4vw;
    font-size: 150%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
/* Estilo do logo */
.logo {
    width: auto;
    position: fixed;
    z-index: 11;
    justify-content: left;
    text-align: left;
    height: 8%;
}
/* Estilo para o logo sobre a imagem */
.LogoSemFundo 
{
     border: #000000;
    border-width: 1px;
    position: absolute;
    top: 40%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
    width: 50vw; /* Ajusta a largura conforme necessário */
    max-width: 500px; /* Limita o tamanho máximo do logo */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; /* Garante que o logo fique sobre a imagem */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}
.TextoResponsivo
{
    text-align: justify;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -0%); /* Ajusta a posição para o centro */
    position: relative;
    top: 20vh;
    padding: 50px;
    margin-bottom: 15%;
}
.TextoResponsivo h1
{
    padding-top: 50px;
}
.TextoResponsivo h2
{
    padding-top: 20px;
}
.TextoResponsivo img
{
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center; /* Centraliza a imagem dentro da div imagem */
    width:100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5); /* Sombra */

}

.Contatos 
{
    top: 50vh;
    display: flex; /* Usa flexbox para o alinhamento do conteúdo */
    flex-direction: column; /* Alinha os itens em coluna (verticalmente) */
    justify-content: center; /* Centraliza verticalmente o conteúdo dentro do container */
    align-items: center; /* Centraliza horizontalmente o conteúdo dentro do container */
    position: relative; /* Fixa o elemento no viewport */
    bottom: 0; /* Posiciona o elemento na parte inferior da página */
    left: 50%; /* Move o elemento para o meio horizontalmente */
    transform: translateX(-50%); /* Ajusta a posição horizontal para centralizar exata */
    width: 100vw; /* Largura total da viewport */
    height: 70vh; /* Altura ajustada */
    background-color: rgb(2, 2, 2); /* Cor de fundo */
    color: aliceblue; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    z-index: 11; /* Garante que o conteúdo fique sobre outros conteúdos */
    padding: 0;
    margin: 0;
}

.Contatos h1 
{
    margin: 0; /* Remove a margem do título */
}

.Contatos ul 
{
    margin: 5vh 0 0 0; /* Margem superior */
    padding: 0; /* Remove o padding */
    height: 5vh; /* Altura ajustada */
    width: 100%; /* Largura total do container */
    display: flex; /* Usa flexbox para alinhamento dos itens da lista */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
}

.Contatos ul a 
{
    transition: background-color 0.3s; /* Corrige a propriedade de transição e define uma duração mais curta */
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Espaçamento interno */
    color: #ffffff; /* Cor do texto dos links */
    margin: 0 10px; /* Margem lateral */
}

.Contatos ul a:hover 
{
    background-color: rgb(59, 59, 59); /* Cor de fundo ao passar o mouse */
}
.Contatos ul a:hover 
{
    background-color: rgb(59, 59, 59); /* Cor de fundo ao passar o mouse */
}
#Usina
{
    scroll-margin-top: 50px; /* Ajuste conforme a altura do seu rodapé */
}
#Equipe
{
    scroll-margin-top: 50px; /* Ajuste conforme a altura do seu rodapé */
}
#RefComeciais
{
    scroll-margin-top: 50px; /* Ajuste conforme a altura do seu rodapé */
}
/* Mobile */
.Contatos {
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove padding se houver */
}

/* Se houver elementos específicos dentro de .Contatos que precisam de ajuste */
.Contatos h1, .Contatos h4 {
    margin-bottom: 0; /* Remove margens inferiores dos títulos */
}

/* Verifique também o próximo elemento após .Contatos */
body > *:not(.Contatos) {
    margin-top: 0; /* Remove margens superiores do próximo elemento */
}
.whatsapp img
{
    display: flex;
    right: 2%;
    top: 80%;
    position: fixed;
    width: 4%;
    z-index: 101;
}
.contato-fixo {
    background-color: #000000; /* Cor de fundo */
    position: fixed; /* Fixa o header na tela */
    left: 0; /* Alinha à esquerda */
    bottom: 0; /* Coloca o header na parte inferior */
    width: 100%; /* Largura total da tela */
    height: 8vh; /* Altura do header */
    z-index: 1000; /* Garante que o header fique acima de outros conteúdos */
    display: flex; /* Usado para o alinhamento do conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    color: #fff; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
}


.contact-info {
    padding: 0; /* Remove o padding */
    margin: 0 10px; /* Espaço entre as listas */
    display: flex; /* Usa flexbox para alinhar os itens da lista */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
}
@media (max-width: 1200px)
{
    .TextoResponsivo
    {
        width: 80%;
        margin-bottom: 25vh;
    }

    #curriculum-header {
        display: none; /* Esconde o cabeçalho "Trabalhe Conosco" */
    }
    .whatsapp img
    {
        width: 5%;
    }
    #desktop-menu 
    {
        display: none;
    }

    .open-btn {

        display: block;
    }

    #menu-burguer.show {
        transform: translateX(0);
    }
    #desktop-menu 
    {
        display: none;
    }

    .open-btn
    {
        height: 2vh;
        top: 1vh;
    }
    body {
        font-size: 14px; /* Tamanho de fonte reduzido para mobile */
    }
    
    .container {
        padding: 10px; /* Reduzir o padding */
    }

    #header {
        height: 5%;
    }

    .logo {
        position: relative;
        width: auto; /* Ajusta a largura da logo */
        height: 100%;
    }

    
    .TextoResponsivo
     {
        padding: 10px; /* Reduzir o padding */
        top: 150px; /* Ajuste para um valor menor */
    }
    
    .Contatos
    {
        margin-top: 10px; /* Ajusta a margem do Contatos */
    }
}
@media (max-width: 1100px) {
    .contact-info
    {
        font-size:  x-large;
    }
    .whatsapp img
    {
        width: 10%;
    }
    
}
@media (max-width: 700px)
{
    .TextoResponsivo
    {
        margin-bottom: 40vh;
    }
    .contact-info
    {
        font-size:  small;
    }
    .whatsapp img
    {
        width: 10%;
    }
}
@media (max-width:500px) {
    .TextoResponsivo
    {
        margin-bottom: 40vh;
    }
    .contact-info
    {
        font-size:  small;
    }
    .whatsapp img
    {
        top: 80%;
        width: 15%;
    }
    
}
@media (max-width:370px) {

    .TextoResponsivo
    {
        margin-bottom: 40vh;
    }
    .contact-info
    {
        font-size:  x-small;
    }
    .whatsapp img
    {
        top: 80%;
        width: 15%;
    }
}
@media only screen and (orientation: landscape) and (max-width: 1400px)
{
    .TextoResponsivo
    {
        margin-bottom: 40%;
    }
    .whatsapp img
    {
        top: 75%;
        width: 7%;
    }
}


@media only screen and (orientation: landscape) and (max-width: 700px) 
{
    .TextoResponsivo
    {
        margin-bottom: 40%;
    }
    .whatsapp img
    {
        top: 75%;
        width: 9%;
    }
}